*{
    padding: 0%;
    margin: 0%;
}
.general{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4f473e;
    color: #ffedd7;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}
.parrafo-gen{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4f473e;
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
}